@charset "UTF-8";
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo-img {
    width:100px;
    padding: 2px;
}

.header-div {
    display:flex;
    justify-content: space-between;
    border: 1px solid;
    margin:10px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    
}

.nav-items > ul > li {
    padding: 20px;
}



.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}